@font-face {
  src: url("/fonts/CraftworkGrotesk-Regular.woff");
  font-family: CraftworkGrotesk;
  font-weight: 400;
}

@font-face {
  font-family: CraftworkGrotesk;
  font-weight: 500;
  src: url("/fonts/CraftworkGrotesk-Medium.woff");
}

@font-face {
  font-family: CraftworkGrotesk;
  font-weight: 600;
  src: url("/fonts/CraftworkGrotesk-SemiBold.woff2");
}

@font-face {
  font-family: CraftworkGrotesk;
  font-weight: 700;
  src: url("/fonts/CraftworkGrotesk-Heavy.woff");
}

/** Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: CraftworkGrotesk;
  background-color: #ffc133;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  position: relative;
  min-height: 100vh;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  padding: 100px 0;
}

.hero .hero-heading {
  font-size: 2.5rem;
  font-weight: 600;
}

.hero .description {
  font-size: 1.5rem;
  margin-top: 16px;
  font-weight: 500;
}

.hero .image {
  margin-top: 60px;
  max-width: 400px;
  position: relative;
}


.hero .text {
  margin-top: 44px;
}

.hero .text h4 {
  font-weight: 600;
  font-size: 1.75rem;
}

.hero .text button {
  padding: 16px 32px;
  background: black;
  color: white;
  border: none;
  margin-top: 48px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 12px;
}

.hero .text button:focus {
  outline: none;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  padding: 120px 0;
  display: flex;
  justify-content: center;
}

.modal-wrapper {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal {
  background-color: #fff;
  width: 100%;
  padding: 24px;
}

.modal .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal .header  h4 {
  font-weight: 600;
  font-size: 1.75rem;
}

.modal .header button {
 padding: 12px 24px;
  background: black;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-top: 12px;
}
